.popUpBox {
  background: #55b;
  width: 600px;
  height: 300px;
  border: 5px solid whitesmoke;
  outline: 1px solid #55b;
}
.popUpFormWrapper {
  position: relative;
  color: whitesmoke;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.popUpFormBox {
  display: flex;
  flex-direction: column;
}
