.autocompleteBox {
  display: flex;
  flex-direction: column;
}
.autocompleteActions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.addAction {
  font-size: 15px;
  margin-right: 0.5rem;
}
