.popUpFormWrapper {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.popUpFormBox {
  display: flex;
  flex-direction: column;
}
