.popUpWrapper {
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.popUpBox {
  background: #55b;
  width: 600px;
  height: 300px;
  border: 5px solid whitesmoke;
  outline: 1px solid #55b;
  color: whitesmoke;
}
