.userProfileBox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 3.5rem;
}
.userProfileData {
  text-align: center;
  padding: 0rem 2rem;
}
.userProfileDataRow {
  display: flex;
  justify-content: space-between;
}
